#title

{

font-family: papyrus;
font-size: 200%;
color: blue;
border: 5px solid green
}

#link1

{
font-family: papyrus;
font-size: 160%;
color: red;
border: 5px solid green

}

#link2
{
font-family: papyrus;
font-size: 160%;
color: red;
border: 5px solid green

}